
body {
  /*font-family: "Oswald", sans-serif !important;
  font-family: 'Open Sans', sans-serif !important; */
  font-family: "Roboto", sans-serif !important;
}

body,
html {
  height: 100%;
  margin: 0;
  background-image: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/ url(../images/earthnight.jpg);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Place text in the middle of the image */
.hero-text {
  font-family: "Open Sans", sans-serif !important;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-weight: bold;
  font-size: 3.2rem;
}

.social {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 2rem;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: white;
}

.social li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
  color: white;
}

.social li:hover {
  color: red;
  transition: 1s;
}

.social li a {
  text-decoration: none !important;
  color: inherit !important;
}
