
body,
html {
  
  height: 100%;
  margin: 0;
  background-image: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),*/ url(../images/earthnight.jpg);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.social {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 2rem;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: white;
}

.social li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}

.social li:hover {
  color: red;
  transition: 1s;
}
